@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

:root {
  --royal-color: #233580;

  --header-royal-color: #edeef5;

  --text-color: #000000;

  --eduard-color: #c6a78f71;
  --elizabeth-color: #3d5dda44;
  --gloster-color: #ecc8c9cc;
  --will-color: #7a282b75;
  --kents-color: #a0b3a8b9;
  --margaret-color: #bb99b7c9;

  --footer-royal-color: #edeef5;
  --instagram-color: rgb(209, 35, 142);
  --youtube-color: rgb(236, 0, 0);
  --facebook-color: #233580;
}

* {
  box-sizing: border-box;
}

body {
  background: url(/logo/main-bckgr.png) center bottom fixed;
  background-repeat: no-repeat;
  color: black;
  font-family: "Raleway", sans-serif;
  text-align: center;
  justify-content: center;
  height: max-content;
  margin: 0;
}

/* ----------------------------HEADER---------------------------- */
.main-header {
  color: #000;
  width: 100%;
  padding: 10px 0 10px 0;
  margin-bottom: 30px;
  background-color: var(--header-royal-color);
}

.main-header-logo {
  cursor: pointer;
  padding: 5px;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
  padding: 0;
}

img {
  border-radius: 6px;
  align-items: center;
}

img.logo {
  border: none;
}
/* ----------------------------MAIN---------------------------- */
section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 3px;
  margin: 5px;
  cursor: pointer;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  width: 90px;
  padding: 10px 5px 5px;
  margin: 0;
}

.member-divorce {
  border: 4px solid rgb(175, 12, 12);
}

li {
  list-style: none;
  padding: 2px;
}

.members li {
  padding: 2px 5px;
}

.members li:first-child {
  padding-left: 2px;
}

.members li:last-child {
  padding-right: 2px;
}

li.member {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.containerShow,
.childShow,
.containerWindsor {
  opacity: 0.5;
}

.containerShow.active,
.childShow.active,
.containerWindsor {
  opacity: 1;
}

/* ------------------------FAMILY MAIN------------------------ */
.container-main {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

.container-main section {
  height: 184px;
}

.container-main h3 {
  padding-top: 10px;
}

.members-parents-Edu {
  color: var(--text-color);
  background-color: var(--eduard-color);
}

.members-parents-Eli {
  color: var(--text-color);
  background-color: var(--elizabeth-color);
}

.container-children {
  display: flex;
  justify-content: space-around;
}

.container-children h3 {
  padding-top: 10px;
}

/* ------------------------FAMILY ELIZABETH------------------------ */
/* .container-Elizabeth {
  display: none;
} */

/* .container-Margaret {
  display: none;
} */

.container-Elizabeth section {
  color: var(--text-color);
  background-color: var(--elizabeth-color);
}

.container-Margaret section {
  color: var(--text-color);
  background-color: var(--margaret-color);
}

.container-parents-Elizabeth,
.container-parents-Margaret {
  display: flex;
  justify-content: center;
  padding: 20px 0 40px 0;
}

.container-children-Elizabeth,
.container-children-Richard,
.container-children-Edward,
.container-children-Alexandra,
.container-children-Michael,
.container-children-Margaret {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.container-children-Elizabeth section,
.container-children-Richard section,
.container-children-Edward section,
.container-children-Alexandra section,
.container-children-Michael section {
  margin: 0 45px;
}

.container-children-Elizabeth h3,
.container-children-Richard h3,
.container-children-George h3,
.container-children-Edward h3,
.container-children-Alexandra h3,
.container-children-Michael h3 {
  padding-top: 10px;
}

.container-children-Margaret {
  display: flex;
}

.container-grandchildren-Elizabeth,
.container-grandchildren-Richard,
.container-grandchildren-George,
.container-grandchildren-Margaret {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
}

.container-children-Margaret section {
  margin: 0 35px;
}

.container-grandchildren-Elizabeth h3,
.container-grandchildren-Richard h3 {
  padding-top: 10px;
}

.container-grandchildren-Elizabeth section,
.container-grandchildren-Richard section,
.container-grandchildren-George section {
  margin-right: 90px;
}

.container-great-grandchildren-Elizabeth {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-great-grandchildren-Elizabeth section {
  height: 205px;
}

.child-charles,
.child-anna,
.child-andrew,
.child-edward,
.child-edward-two,
.child-alexandra,
.child-michael {
  display: flex;
  align-items: normal;
  margin: 0 25px;
}

.child-charles section,
.child-anna section,
.child-andrew section,
.child-edward section,
.child-edward-two section,
.child-alexandra section,
.child-michael section,
.child-george section,
.child-helena section,
.child-nikolas section,
.child-james section,
.child-marina section,
.child-sarah section,
.child-david section {
  margin-right: 10px;
}

.child-will,
.child-harry,
.child-piter,
.child-zara,
.child-beatrice,
.child-evgenia,
.child-alex,
.child-davina,
.child-rose,
.child-george,
.child-helena,
.child-nikolas,
.child-james,
.child-marina,
.child-sarah,
.child-david {
  display: flex;
  align-items: inherit;
  margin: 0 25px;
}

.child-will h3,
.child-harry h3,
.child-piter h3,
.child-zara h3,
.child-beatrice h3,
.child-evgenia h3,
.child-alex h3,
.child-davina h3,
.child-rose h3,
.child-george h3,
.child-helena h3,
.child-nikolas h3,
.child-james h3,
.child-marina h3,
.child-sarah h3,
.child-david h3 {
  padding-top: 10px;
}
/* ----------------------------FAMILY HENRY---------------------------- */

/* .container-Henry {
  display: none;
} */

.container-child-Henry {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.container-child-Henry section {
  margin-left: 70px;
}

.container-child-Henry .members-WillGlo {
  color: var(--text-color);
  background-color: var(--will-color);
}

.container-parents-Henry section,
.container-child-Henry section,
.container-children-Richard section,
.container-grandchildren-Richard section {
  color: var(--text-color);
  background-color: var(--gloster-color);
}

.container-parents-Richard {
  margin-left: 90px;
}

.container-William .member {
  display: flex;
  justify-content: center;
}
/* ----------------------------FAMILY GEORGE---------------------------- */
/* .container-George {
  display: none;
} */

.container-children-George {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.container-grandchildren-George-two {
  display: flex;
  justify-content: center;
}

.container-children-George section {
  margin: 0 45px;
}

.child-alexandra section {
  margin-left: 30px;
}

.child-george,
.child-helena {
  display: flex;
}

.container-parents-Goerge section,
.container-grandchildren-George-two section,
.container-children-George section,
.container-grandchildren-George section {
  color: var(--text-color);
  background-color: var(--kents-color);
}

/* ----------------------------FOOTER---------------------------- */

.main-footer {
  background-color: var(--footer-royal-color);
  color: var(--text-color);
  margin-top: 30px;
}

.main-footer .container-footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-contacts {
  margin-bottom: 40px;
}

.main-footer a {
  color: rgb(5, 5, 5);
  text-decoration: none;
}

.footer-social {
  width: 145px;
  text-align: center;
}

.footer-social ul {
  display: flex;
  justify-content: center;
  width: 141px;
  margin: 0 auto;
  padding: 0;
}

.footer-social p {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 700;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
}

span {
  color: var(--royal-color);
  padding-right: 10px;
}

.fa-instagram-square,
.fa-youtube-square,
.fa-facebook-square {
  font-size: 35px;
}
.social-button-instagram:hover,
.social-button-instagram:focus {
  color: var(--instagram-color);
  transition: 1s ease;
}

.social-button-youtube:hover,
.social-button-youtube:focus {
  color: var(--youtube-color);
  transition: 1s ease;
}

.social-button-facebook:hover,
.social-button-facebook:focus {
  color: var(--facebook-color);
  transition: 1s ease;
}

.footer-copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header-copyright {
  margin: 0;
  margin-left: auto;
  text-align: center;
}

.header-copyright .button {
  display: block;
  cursor: pointer;
}

.button-copyright {
  display: inline-block;
  padding: 5px;
  border: none;
}

.footer-copyright b {
  width: 143px;
  display: block;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  color: #000000;
  transition: 1.5s ease;
  background-color: #dbdbdf;
  border-radius: 20px;
}
